* {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

/*FONTS*/
@font-face{
	font-family: worksansbold;
	src: url('../fonts/Work_Sans/static/WorkSans-Bold.ttf');
}
@font-face{
	font-family: worksans;
	src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf');
}
@font-face{
	font-family: worksanslight;
	src: url('../fonts/Work_Sans/static/WorkSans-Light.ttf');
}

@font-face{
	font-family: karla;
	src: url('../fonts/Karla/static/Karla-Regular.ttf');
}
@font-face{
	font-family: karlabold;
	src: url('../fonts/Karla/static/Karla-Bold.ttf');
}
@font-face{
	font-family: karlalight;
	src: url('../fonts/Karla/static/Karla-Light.ttf');
}


html {
	overflow-x: hidden;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html, body {
	height: 100%;
}

body {
	font: 13px/1.8 Arial, sans-serif;

	background: #fff;
	width: 1920px;
	margin: 0;
}
.wrapper{
	width:1175px;
	margin:0 auto;

}
header{
	background: url("../images/banner-bg.png") no-repeat ;
	margin: 0 auto;
	height: 900px;
}

#business h1 {
	line-height: normal;
	color: white;
	font-size: 50px;
	font-family:worksansbold ;
}

#business h2 {
	line-height: normal;
	color: white;
	font-size: 35px;
	font-family: worksanslight;
}
#business p{
	color: white;
	font-family: karla ;
}

/*button 1*/
.testbutton {
	margin: 20px 0;
	width: 160px;
	color: #FFFFFF !important;
	font-size: 14px;
	padding: 10px 27px;
	border-radius: 40px;
	border: 2px solid transparent;
	background: #2AB6C1;
	background: linear-gradient(to right, #2AB6C1, #81DDA1);
	text-align: center;
}
.testbutton:hover {
	background: none;
	border-radius: 40px;
	border: white 2px solid ;

}
.testbutton a:hover{
	color: white;
}

#button{
	border-radius: 40px;
	border: white 2px solid ;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 10px 27px;
	margin: 20px;
	width: 160px;
}
#button:hover{
	color: #FFFFFF !important;
	border: 2px solid transparent;
	background: #2AB6C1;
	background: linear-gradient(to right, #2AB6C1, #81DDA1);
}
#button a:hover{
	color: white;
}
.lrbutton{
	margin: 10px;
	border-radius: 40px;
	width: 27px;
	border: white 2px solid ;
	text-align: center;
}
.lrbutton:hover{
	border:#bc53ea 2px solid;
}
.lrbutton a:hover{
	color: white;
}
#work{
	padding-right: 35px;
}
#newlook{
	padding: 50px 0;
}
#newlook h2{
	line-height: normal;
	color: black;
	font-family: worksansbold;
	font-size: 45px;
}
.boxes{
	margin: 15px 0;
	width:500px ;
}
.box{
	padding: 15px;
	background: #f5fbff;;
	width: 170px;
	height: 170px;
	border-radius: 7px;
	margin: 10px;
	text-align: center;
	align-items: center;
}

.box h3{
	color: #a841e6;
	font-family: worksansbold;
	font-size: 38px;
}
.box p{
	color:#787878;
	font-size: 14px;
	font-family: karla;

}
h4 {
	font-size: 16px;
	margin: 20px 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #00CFDD;
	text-decoration: none;
}

.clear:before,
.clear:after {
	content: ' ';
	display: table;
	clear: both;
}
.clear {
  *zoom: 1;
}

.note {
	background: #0fd8da;
	padding: 20px;
	color: #161625;
	margin: 10px 0;
}

.content ul {
	margin: 10px 40px;
}

.content {
	margin: 0 0 50px;
}
#hoofdstuk{
	font-size: 17px;
	font-family: karlabold;
}
#logo{

}
#logo a {
	display: block;	
	padding: 10px 0 10px 0;
	justify-items: center;
}
#menu{
	justify-content: center;
	width: 50%;
}
.active{
	color:#00CFDD ;
}
#menu ul li{
	list-style-type: none;
	margin: 20px;
}
#gebruiker-taal{
	width: 20%;
}
#gebruiker-taal ul li{
	list-style-type: none;
	margin: 20px;
}
#section1{
	padding: 30px;
}
#section2{
	padding: 100px 0;
}
#section3{
	text-align: center;
	height: 200px;
}
#section3 p{
	font-size: 18px;
	color:#a841e6 ;
	font-family: karlabold;
}
#section3 h3 {
	font-size: 45px;
	font-family: worksansbold;
}
#section4{

}
.whatwedo{

	margin: 20px;
	width:270px ;
	height: 400px;
	box-shadow: -1px 0px 5px 0px rgba(201, 201, 201, 0.5),
	0px 0px 5px 0px rgba(201, 201, 201, 0.5);

}
#business{
	padding: 40px;
}
#sidebar {
	width: 250px;
	background: #f1f1f1;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	font-weight: bold;
	font-size: 12px;
	z-index: 9;
	overflow: auto;
	text-align: center;
}

#sidebar ul a {
	text-decoration: none;
	color: #161625;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#sidebar ul a:hover,
#sidebar .active > a {
	background: #848283;
	color: #fff;
}

#sidebar ul li {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#sidebar ul li.current {
	background-color: #848283;
}

#sidebar ul li.current a {
	color: #fff;
}

#sidebar li ul a {
	padding-left: 40px;
}

#main-content {
	margin-left: 250px;
	padding: 27px 45px;
}


/* POSITIONING CSS*/
/* Display Flex */

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

/* Flex Direction */
.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

/* Align Content */
.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

/* Align Self */
.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}
